extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	#loading
		.bar Đang tải dữ liệu...
		.progress
			.progress-bar.progress-bar-striped.bg-secondary.progress-bar-animated(role="progressbar" aria-valuenow="100" style="width: 100%" aria-valuemin="0" ariavaluemax="100")
	section.canhcam-design-1
		.container-fluid-full
			.row.no-gutters
				.col-7
					.box-product
						.showloading-material(ng-class="{'active':showloadingmaterial}")
							.inner
								i.fa.fa-sync.fa-spin.mr-1
								| 
								| {{lang.loading}}
						.apply-content#drawimages
							figure.mb-0.border
								img.img-main(src="./img/phoicanh.png")
								.blockprodis-nem
									.nem(style="background-color: white;")
								.blockprodis-men-b
									.men-b(style="background-color: white;")
								.blockprodis-men-f
									.men-f(style="background-color: white;")
								.blockprodis-goi
									.goi(style="background-color: white;")
								.blockprodis-goiom
									.goiom(style="background-color: white;")
							//- h2.h4.text-uppercase {{settings.name}}
							//- p.mb-0.text-muted {{settings.desc}}
							//- .abc 
								img.clip-svg(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/Harry-Potter-1-.jpg" alt="")
								svg(width="0" height="0")
									defs
										clippath#myClip
											circle(cx="100" cy="100" r="40")
											circle(cx="60" cy="60" r="40")
						#resultsdraw
					//- .control-bar(ng-class="{'active': buildimagedone}")
						ul.nav.mb-0
							li.nav-item 
								a(ng-href="javascript:void(0);")
									i.fab.fa-facebook-f.fa-fw
									| 
									| {{lang.share}}
							li.nav-item 
								a(ng-href="javascript:void(0);")
									i.fas.fa-save.fa-fw
									| 
									| {{lang.save}}
							li.nav-item 
								a(ng-href="javascript:void(0);")
									i.fas.fa-shopping-cart.fa-fw
									| 
									| {{lang.booking}}
							li.nav-item.toggle
								a(ng-href="javascript:void(0);")
									em.fas.fa-angle-double-down.fa-fw
				.col-5.select(ng-controller="getMenuMaterial")
					.select-color
						ul
							//- Title Menu 
							//- li.item.title {{lang.pattern}}
							li.item(ng-repeat="item in menus" uib-tooltip="Enter something in this input field to disable this tooltip" tooltip-placement="top", ng-class="{'active': $index == 0}")
								a(ng-href="javascript:void(0);" onclick="toggleMenu(this)" ng-click="ctrlClickHandler(item.id, $index)") 
									img(ng-src="{{item.icon | html}}").img-fluid
									//- em(ng-bind-html="item.icon | html")
									span {{item.name}}
					.select-nav
						.showloading(ng-class="{'active': showloading}") 
							.inner.text-center
								//- figure
									img(src="./img/logo.png", alt="")
								.lo
									i.fa.fa-sync.fa-spin.mr-1
									| 
									| {{lang.loading}}
						//- Breadcrumb
						//- nav(ng-show="materials.length")
							ol.breadcrumb
								li.breadcrumb-item 
									i.fa.fa-home
								li.breadcrumb-item.active {{lang.material}}
						.select-nav-color
							//- Tiêu đề
							//- h3.h5.mt-2.mb-0(ng-show="materials.length") {{title}}
							.notice.mt-3(ng-show="!materials.length && !showloading") 
								h4.h4.mb-2 {{lang.noitem}}
								p.lead {{lang.notice}}
							ul.list-item(ng-show="materials.length")
								li.item(ng-repeat="item in lists" onclick="toggleMenuChild(this)" ng-click="setPattern(item.id)", ng-class="{'active': PA_URL == item.id}")
									.box
										.color(ng-style="{'background':'linear-gradient(135deg, '+item.color[0]+' 0%, '+item.color[0]+' 50%, '+item.color[1]+' 50%, '+item.color[1]+' 100%)'}", ng-if="item.color[1].length > 0")
										.color(ng-style="{'background':''+item.color[0]+''}", ng-if="item.color[1].length == 0")
										.text 
											//- strong {{item.name}}
											span.text-lg {{item.code}}
							//- .notice(ng-show="materials.length") 
								h2.h4.text-uppercase {{lang.noitem}}
								p.mb-0.text-muted {{lang.notice}}
							//- Hoàn thành 
							//- .pagebottom-done(ng-show="showdone")
								a.btn.btn-default.btn-block(ng-href="javascript:void(0);" ng-click="buildImage()") {{lang.done}}
							.done-bar
								hr
								p.text-muted ***Những màu trên đây chịu ảnh hưởng bởi phương pháp in cơ học, do vậy màu sắc trên bảng màu này có thể hơi khác so với màu vải thực tế.
								ul.nav.mb-0
									//- li.nav-item 
										a.btn.btn-default(ng-href="javascript:void(0);" href="{{backURL}}")
											i.fas.fa-arrow-left.fa-fw
											| {{lang.back}}
									li.nav-item 
										a.btn.btn-default(ng-href="javascript:void(0);" ng-click="shareImage()")
											i.fab.fa-facebook.fa-fw
											| {{lang.share}}
									li.nav-item 
										a.btn.btn-default(ng-href="javascript:void(0);" ng-click="saveImage()")
											i.fas.fa-save.fa-fw
											| {{lang.save}}
									li.nav-item 
										a.btn.btn-default(ng-href="javascript:void(0);" ng-click="order()")
											i.fas.fa-shopping-cart.fa-fw
											| {{lang.booking}}
							//- Phân trang
							//- .pagebottom(ng-show="materials.length")
								.row.align-items-center
									.col-auto.d-flex.align-items-center
										.mr-2.tl {{lang.itempage}}
										select.form-control.form-control-sm(ng-model="viewby" ng-change="setItemsPerPage(viewby)"  ng-options="item as item.name for item in select")
									.col.justify-content-end.d-flex
										ul.mb-0.pagination(uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" next-text="Trang kế", previous-text="Trang trước")
